.icon-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.icon-cart { background-image: url('png/cart.png'); background-repeat: no-repeat; }

.icon-clock { background-image: url('png/clock.png'); background-repeat: no-repeat; }

.icon-credit { background-image: url('png/credit.png'); background-repeat: no-repeat; }

.icon-file { background-image: url('png/file.png'); background-repeat: no-repeat; }

.icon-heart { background-image: url('png/heart.png'); background-repeat: no-repeat; }

.icon-home { background-image: url('png/home.png'); background-repeat: no-repeat; }

.icon-image { background-image: url('png/image.png'); background-repeat: no-repeat; }

.icon-music { background-image: url('png/music.png'); background-repeat: no-repeat; }

.icon-pencil { background-image: url('png/pencil.png'); background-repeat: no-repeat; }

